<div ng-controller="mainController">
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Show</th>
              <th>Update</th>
              <th>Delete</th>

          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="friend in friends">
          <td>{{friend.fname}} {{friend.lname}} </td>
          <td><a href="#!/show/{{friend._id}}">Show</a></td>
          <td><a href="#!/edit/{{friend._id}}">Edit</a></td>
          <td><button ng-click="delete(friend._id)">Delete</button></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
