<div ng-controller="mainController">
    <a href="#!/new" class="waves-effect waves-light btn">Sign Guest Book</a>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Show</th>
              <th>Update</th>
              <th>Delete</th>

          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="friend in friends">
          <td>{{friend.fname}} {{friend.lname}} </td>
          <td><a href="#!/show/{{friend._id}}" class="waves-effect waves-light btn">Show</a></td>
          <td><a href="#!/edit/{{friend._id}}" class="waves-effect waves-light btn">Edit</a></td>
          <td><button ng-click="delete(friend._id)" class="waves-effect waves-light btn">Delete</button></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
